/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';
@import 'transient.less';

#header-wrapper{
  background-size:cover;
  background-image: url('images/header-background.png');
  background-position: 0 100%;
  .featured-jumbotron{
    padding-top:48px;
  }
}

.btn{
  border: none;
}

.btn-with-grandiant {
  .button-variant(@brand-primary; #fff; #efefef);
  &.btn:hover{
    background: ~'rgba(255,255,255, 0.85)';
  }
}

.logo-eclipse-default{
  padding-top:9px;
}

.logo-eclipse-default-mobile{
  max-width:260px;
}

.featured-ad a{
  float:none;
}

.news-list{
  .news-list-col {
    margin-bottom:0;
    padding-bottom:0;
    h2.heading-line {
      text-align:center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
  }
  .media-link:hover {
    .box-shadow(3px 3px 3px #cecece);
    background-color: white;
  }
}

.event-list {
  a:visited{
    color: @brand-tertiary;
  }
}

.featured-section{
  padding: 60px 0 60px 0;
  background-position: 0 100%;
  font-size:19px;
  h2{
    font-size: 34px;
    margin-bottom: 20px;
    color: @brand-primary;
    margin-top:0;
    text-transform: uppercase;
  }
  p{
    margin-bottom:20px;
    &:last-child{
      margin-bottom:0;
    }
  }
  .feather {
    width: 40px;
    height: 40px;
  }
}

.featured-section-gradiant, .featured-section-connected {
  background: @brand-gradient-color;
  background: @brand-gradient;
  color: #fff;
  h2 {
    color: white;
  }
    .btn{
    .btn-with-grandiant;
  }
}

.featured-footer.featured-story-dark {
  &:extend(.featured-section-gradiant);

  .btn{
    &:extend(.btn-with-grandiant);
  }
}

.featured-section-testimonials{
  background-color: @brand-quaternary;
  color: @brand-tertiary;
}

.featured-section-members {
  padding-top: 80px;
  padding-bottom: 80px;
  li {
   padding:10px;
  }  
}

.testimonial-item {
  margin-top:120px;
  .testimonial-logo {
    background-image: var(--image-src);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: #00768A;
    filter: opacity(0.9);
    border-radius: 150px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: -120px auto 30px;
    position: relative;
    img {
      margin:0 auto;
    }
  }
  .title {
    font-size:18px;
    display: flex;
    flex-direction: column;
    strong {
      font-size: larger;
    }
  }
  .content {
    font-size:16px;
  }
}

.mission-circle {
  display:block;
  width:300px;
  height:300px;
  padding:37px 26px 34px 40px;
  background-color:@white;
  border-radius:150px;
  margin:0px auto 0;
  img{
    margin-top:45px;
  }
}

.eclipsefdn-members-list a{
  max-width: 170px
}

@media (max-width: @screen-xs-max) {
  .featured-section-faq,
  .featured-section-statement{
    text-align:center;
  }
  .mission-circle{
    margin-top: 50px;
  }
}